@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#scroll-overlay.active {
  display: block;
  pointer-events: all;
}

body {
  font-family: "DM Sans", sans-serif;
  font-display: swap;
}

::selection {
  background-color: #edff00;
  color: black;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
